<div class="container">
    <div class="left">
        <img src="../../assets/images/inetum.jpg" alt="inetum">
    </div>
    <div class="right">
        <h1>Registration page</h1>
        <form #registerForm="ngForm" method="post" (ngSubmit)="register()" >
            <div class="formuser">
                <label for="username" name="username">Username</label>
                <input
                    type="text" 
                    id="username" 
                    name="username" 
                    autofocus="autofocus"
                    [(ngModel)]="login.username"
                    [class.is-invalid]="username.invalid && username.touched"
                    #username ="ngModel"
                    required
                />
                <span class="text-danger" [class.d-none]="username.valid || username.untouched">Username is required field</span>
            </div>
            <div class="formpass">
                <label for="password">Password</label>
                <input 
                    type="password"
                    id="password"
                    name="password" 
                    [(ngModel)]="login.password"
                    #password="ngModel"
                    required
                />
                <span class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required field</span>
            </div>
            <div class="formpass">
                <label for="password">Confirm Password</label>
                <input 
                    type="password"
                    id="cpassword"
                    name="cpassword" 
                    #cpassword="ngModel"
                    (ngModel)="login.password"
                    required
                />
                <span class="text-danger" [class.d-none]="(cpassword.value == password.value) || cpassword.untouched">Password is incorrect</span>
            </div>
            <input [disabled]="registerForm.form.invalid" type="submit" value="Sign up" />
            <small [routerLink]="['/login']" class="float-right">Existing user ? Login here</small>
        </form>
    </div>
</div>