<div class="form">
    <!-- <div class="left">
        <img src="../../assets/images/inetum.jpg" alt="inetum">
    </div> -->
    <!-- <div class="right"> -->
        <h1>Registration page</h1>
        <form [formGroup]="registerForm" method="post" (submit)="register()" >
            <div class="formLastname">
                <label for="lastname" name="lastname">lastname</label>
                <input
                    type="text" 
                    id="lastname" 
                    name="lastname" 
                    [(ngModel)]="login.lastname"
                    #lastname
                    formControlName="lastname"
                    [class.is-invalid]="lastname.oninvalid && lastname.ontouchend"
                    required
                />
                <span class="error" [class.d-none]="lastname.oninvalid || lastname.ontouchend">Lastname is required field</span>
            </div>
            <div class="formFirstname">
                <label for="firstname" name="firstname">Firstname</label>
                <input
                    type="text" 
                    id="firstname" 
                    name="firstname" 
                    [(ngModel)]="login.firstname"
                    [class.is-invalid]="firstname.invalid && firstname.touched"
                    #firstname ="ngModel"
                    required
                />
                <span class="error" [class.d-none]="firstname.valid || firstname.untouched">Firstname is required field</span>
            </div>
            <div class="formBirthdate">
                <label for="birthdate" name="birthdate">Birthdate</label>
                <input
                    type="date" 
                    id="birthdate"
                    name="birthdate" 
                    [(ngModel)]="login.birthdate"
                    [class.is-invalid]="birthdate.invalid && birthdate.touched"
                    #birthdate ="ngModel"
                    required
                />
                <span class="error" [class.d-none]="birthdate.valid || birthdate.untouched">Birthdate is required field</span>
            </div>
            <div class="formUsername">
                <label for="username" name="username">Username</label>
                <input
                    type="text" 
                    id="username" 
                    name="username" 
                    [(ngModel)]="login.username"
                    [class.is-invalid]="username.invalid && username.touched"
                    #username ="ngModel"
                    required
                />
                <span class="error" [class.d-none]="username.valid || username.untouched">Username is required field</span>
            </div>
            <div class="formPassword">
                <label for="password">Password</label>
                <input 
                    type="password"
                    id="password"
                    name="password" 
                    [(ngModel)]="login.password"
                    #password="ngModel"
                    required
                />
                <span class="error" [class.d-none]="password.valid || password.untouched">Password is required field</span>
            </div>
            <div class="formPassConfirm">
                <label for="password">Confirm Password</label>
                <input 
                    type="password"
                    id="cpassword"
                    name="cpassword" 
                    #cpassword="ngModel"
                    (ngModel)="login.password"
                    required
                />
                <span class="error" [class.d-none]="(cpassword.value == password.value) || cpassword.untouched">Password is incorrect</span>
            </div>
            <input [disabled]="registerForm.invalid" type="submit" value="Register" />
        </form>
        <small [routerLink]="['/login']" class="float-right">Existing user ? Login here</small>
    </div>
<!-- </div> -->