.main {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}
.card {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: ghostwhite;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 15px;
}
.name {
    margin: auto;
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
}